body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-image: url(./2147811269.jpg);
    size: 100%;
}
h1 {
    font-weight: bolder;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    background-color: lightcoral;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border: none;
    text-decoration: none;
    padding: 10px;
}
.topdiv {
    display: flex;
    align-items: center;
    gap: 10px;
    image-resolution: 100px;
}
.topmenu {
    align-items: right;
    text-align: center;
    display: flex;
    gap: 5px;
}
.search_bar {
    display: flex;
    align-items: right;
    gap: 10px;
}
.search_bar input {
    flex: 1;

}
#destination {
    float: right;
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
}
#search {
    padding: 5px;
    border: solid black 2px;
    border-radius: 5px;
}
#reset {
    padding: 5px;
    border: solid black 2px;
    border-radius: 5px;
}
.about_us{
    display: flex;
    align-items: right;
    gap: 5px;
}
.our_team {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.contact_us {
    margin-top: 20cm;
    margin-bottom: 20cm;
    padding: 20cm;
    display: flex;
    align-items: center;
    gap: 5px;
    border: solid lightcoral 5px;
    border-radius: 10px;
}

