body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-image: url(./background.png);
    size: 100%;
    margin-left: 60px;
}
h1 {
    font-size: 40px;: ;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
nav {
    background-color: silver;
    width: 100%;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: 0;
    border: none;
    text-decoration: none;
    padding: 10px;
}
.topdiv {
    display: flex;
    align-items: center;
    gap: 10px;
    image-resolution: 100px;
}
.topmenu {
    align-items: right;
    text-align: center;
    display: flex;
    gap: 5px;
}
.search_bar {
    display: flex;
    align-items: right;
    margin-left: -10px;
}
.search_bar input {
    flex: 1;

}
#destination {
    float: right;
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
}
#search {
    padding: 5px;
    border: solid black 2px;
    border-radius: 5px;
}
#reset {
    padding: 5px;
    border: solid black 2px;
    border-radius: 5px;
}
.intro {
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
    text-align:justify;
}
.about_us { 
    margin-left: 60px;
    display: flex;
    align-items: right;
    gap: 5px;
    padding-bottom: 20cm;
}
.intro_2 {
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
    text-align:justify;
}
 
.our_team {
    margin-left:60px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.worker {
    display: flex;
    align-items: center;
    text-align: center;

}
.contact_us {
    margin-left: 60px;
    margin-top: 20cm;
    margin-bottom: 20cm;
    padding: 20cm;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;

}
.name_form {
    display: flex;
    align-items: right;
    gap: 10px;
}
.name_form input {
    display: flex;
    border: solid black;
    border-radius:10px;
}
.email_form {
    display: flex;
    align-items: right;
    gap: 10px;
}
.email_form input {
    display:flex;
    align-items: right;
    border-radius: 10px;
}
.message_form {
    display: flex;
    align-items: right;
    gap: 10px;
}
#submit {
    border: solid black 2px;
    border-radius: 5px;
}

.social_media {
    height: 100%;
    width: 50px;
    position: fixed;
    padding-top: 20px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: silver;
}
