body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-image: url(./2147811269.jpg);
    size: 100%;
}
nav {
    background-color: lightcoral;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border: none;
    text-decoration: none;
    padding: 10px;
}
.topdiv {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search_bar {
    display: flex;
    align-items: left;
    gap: 10px;
}
#destination {
    float: right;
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
}
#search {
    padding: 5px;
    border: solid black 2px;
    border-radius: 5px;
}
#reset {
    padding: 5px;
    border: solid black 2px;
    border-radius: 5px;
}
h1 {
    font-weight: bolder;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.name_form {
    width: 100%;
    float: left;
    border: solid lightcoral 2px;
    border-radius: 10px;
}
.email_form {
    width: 100%;
    float: center;
    border: solid lightcoral 2px;
    border-radius: 10px;
}
.message_form {
    width: 100%;
    float: right;
    border: solid lightcoral 2px;
    border-radius: 10px;
}
