body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: blue;
    background-color: beige;
}
.nav {
    background-color: yellowgreen;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.button {
    padding: 10px;
    border: solid black 2px;
    border-radius: 5px;
    background-color: blue;
}
.contact_us {
    float: center;
    border: solid black 3px;
    border-radius: 5px;
}
.name_form {
    width: 100%;
    float: left;
    border: solid black 2px;
    border-radius: 5px;
}
.email_form {
    width: 100%;
    float: center;
    border: solid black 2px;
    border-radius: 5px;
}
.message_form {
    width: 100%;
    float: right;
    border: solid black 2px;
    border-radius: 5px;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
}